* {
    box-sizing:border-box;
    scroll-behavior:smooth;
}


:root {

    --background:#08090d;
    --surface:#11131a;
    --surface2:#181c26;

    --accent:#e63946;
    --text:#f5f5f5;
    --muted:#a6a8b3;

}



body {

    margin:0;

    background:var(--background);

    color:var(--text);

    font-family:"Inter", sans-serif;

}



h1,h2,h3 {

    font-family:"Space Grotesk", sans-serif;

}



header {

    position:fixed;

    top:0;

    width:100%;

    z-index:10;

}



nav {

    margin:20px auto;

    width:85%;

    padding:18px 30px;

    display:flex;

    justify-content:space-between;

    align-items:center;


    background:#ffffff08;

    backdrop-filter:blur(20px);

    border:1px solid #ffffff12;

    border-radius:20px;

}



nav h2 {

    font-size:20px;

}



nav a {

    color:white;

    text-decoration:none;

    margin-left:25px;

    opacity:.8;

    transition:.3s;

}



nav a:hover {

    opacity:1;

    color:var(--accent);

}




section {

    padding:120px 10%;

}




.hero {


    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;


    background:

    radial-gradient(
    circle at top,
    #343b55,
    transparent 40%
    );


}



.hero h1 {

    font-size:clamp(45px,7vw,90px);

    line-height:1;

    margin-bottom:25px;

}



.hero p {

    max-width:700px;

    color:var(--muted);

    font-size:20px;

}



.button {


    display:inline-block;

    margin-top:35px;

    padding:16px 35px;

    border-radius:50px;

    background:var(--accent);

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}


.button:hover {

    transform:translateY(-5px);

}




h2 {

    font-size:45px;

    margin-bottom:50px;

}




.card-container {


    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;


}



.card {


    padding:35px;

    background:var(--surface);

    border-radius:25px;

    border:1px solid #ffffff10;

    transition:.3s;

}



.card:hover {

    transform:translateY(-8px);

    background:var(--surface2);

}




.gallery {


    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

}



.example {


    background:var(--surface);

    padding:20px;

    border-radius:25px;

    overflow:hidden;

}



.example img {


    width:100%;

    border-radius:15px;

    transition:.4s;

}



.example:hover img {

    transform:scale(1.05);

}





.review {


    background:var(--surface);

    border-left:4px solid var(--accent);

    padding:30px;

    border-radius:15px;

    margin-bottom:20px;

}




footer {

    padding:40px;

    text-align:center;

    color:var(--muted);

}
